<h2>{{title}}</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('Text') }">
    <label for="text">Question text:</label>
    <br />
    <textarea id="text" placeholder="enter a suitable text..." formControlName="Text" class="form-control"></textarea>
    <span *ngIf="hasError('Text')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <div *ngIf="hasError('Text')" class="help-block">
      Text is a required field: please insert a valid text.
    </div>
  </div>
  <div class="form-group commands">
    <button *ngIf="editMode" type="submit" [disabled]="form.invalid" class="btn btn-success">
      Apply Changes
    </button>
    <button *ngIf="!editMode" type="submit" [disabled]="form.invalid" class="btn btn-success">
      Create the Question!
    </button>
    <button type="submit" (click)="onBack()" class="btn btn-default">
      Cancel
    </button>
  </div>
</form>
<answer-list *ngIf="editMode" [question]="question"></answer-list>
